/*
* 引入function
*/
@use 'function' as *;

/*
* 将function暴露给全局使用
*/
@forward 'function';


@mixin scroll-bar {
  // 滚动条的的背景颜色
  $scrollbar-thumb-background: getCssVar('text-color', 'disabled');
  // 滚动条的轨道颜色
  $scrollbar-track-background: getCssVar('fill-color', 'blank');

  &::-webkit-scrollbar {
    z-index: 11;
    width: 6px;

    &:horizontal {
      height: 6px;
    }

    &-thumb {
      border-radius: 5px;
      width: 6px;
      background: $scrollbar-thumb-background;
    }

    &-corner {
      background: $scrollbar-track-background;
    }

    &-track {
      background: $scrollbar-track-background;

      &-piece {
        background: $scrollbar-track-background;
        width: 6px;
      }
    }
  }
}
